body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(223, 221, 218);
}

#start-btn{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:25;
    color:white;
    padding: 15px 30px;
    outline: none;
    border-radius: 5px;
    background: firebrick;
    cursor: pointer;
}

.info-box{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20;
  color:firebrick;
  padding: 15px 30px;
  outline: none;
  border-radius: 5px;
  background: white;
}
#continue-btn{
  position: absolute;
  top: 90%;
  right: 10px; /* Adjust this value to your desired spacing */
  transform: translateY(-50%);
  font-size:10;
  color:white;
  padding: 5px 5px;
  outline: none;
  border-radius: 5px;
  background: firebrick;
  cursor: pointer;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

main {
  padding: 20px;
}
.choice-btn{
  font-size:20;
  color:white;
  padding: 1px 10px;
  outline: none;
  border-radius: 5px;
  background: firebrick;
  cursor: pointer;
}

.hide {
  display: none;
}